# PyInstaller
build/
dist/
*.spec
*.spec.bak
release/*/remote_indipad*
release/*/gamepad_profiles.json
release/*/RemoteINDIPAD*

# python
__pycache__/
.pytest_cache/
*.pyc
.vscoode/
.venv/
venv/

temp_work/
remote_indipad_sender.json
remote_indipad_receiver.json